/.phpunit.cache
/public/build
.env
.env.production
auth.json
yarn-error.log
/.fleet
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
.vscode
.vagrant
Homestead.yaml
Homestead.json
npm-debug.log

